{% extends "base.html" %} {% block content %}
<h3 style="text-align: center">{{search}}</h2>
<div class="row">
  {% for post in final_postings %}
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img
          src="{{post.3}}"
        />
        {% comment %} <span class="card-title"></span> {% endcomment %}
      </div>
      <div class="card-content">
        <p>{{post.0}}</p>
      </div>
      <div class="card-action">
        <a href="{{post.2}}">PRICE: {{post.1}} | CLICK TO VIEW</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
